<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link rel="stylesheet" href="../static/css/indexStyle.css" th:href="@{/css/indexStyle.css}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

			<br>
			<br>
			<br>
			
			<h1>Welcome to Sheridan Eyewear</h1>
			<br>
			
					<ul>
						<li><a href="/add">Add a Pair of Sunglasses to List</a></li>
		
						<li><a href="/search">Search Sunglasses By Brand</a></li>
		
						<li><a href="/display">Display All Sunglasses</a></li>
		
					</ul>
			<br>
			<br>
			<br>
			
			<img id="i1" src="../static/images/sunglasses.jpg" th:src="@{/images/sunglasses.jpg}" />	
			
			<br>
			<br>
			
					
</body>
</html>
